@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #43389F;
    color: #FFF;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to top right, #43389F 0%, #4ec6ca 100%);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 60px;

}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hundred {
    position: relative;
    height: 100px;

    .one-one {
        position: absolute;
        z-index: 0;
        top: 0;
        left: -15px;
        height: 40px;
        width: 20px;
        background: #fff;
        border-radius: 3px;
        transform: rotate(50deg);
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    }

    .one-two {
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
        width: 24px;
        z-index: 1;
        border-radius: 3px;
        background: #fff;
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    }

    .zero-one,
    .zero-two {
        position: absolute;
        top: 0;
        left: 15px;
        border: 24px solid #fff;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    }

    .zero-two {
        left: 100px;
        z-index: -1;
    }
}

.big {
    font-size: 4.5rem;
}

.small {
    font-size: 1.4rem;
    letter-spacing: 0.04rem;
    line-height: 30px;
}